NAVIDROME_USERNAME=admin
NAVIDROME_PASSWORD=change-me
NAVIDROME_ALLOWED_USERS=Nirotiy

RCLONE_VFS_CACHE_MAX_SIZE=10G
RCLONE_VFS_CACHE_MAX_AGE=72h
RCLONE_BUFFER_SIZE=64M
RCLONE_READ_AHEAD=128M
RCLONE_TPS_LIMIT=5

ND_SCANSCHEDULE=0 2 * * *
ND_TRANSCODINGCACHESIZE=2G
